
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



.principal-container{
  color: white;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.container__game{
  display: grid;
  gap: 2px;
  
}
.quadro{
  width: 100px;
  height: 100px;
  background-size: contain;
}

.container-game-instrucoes{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-instrucoes{
  display: flex;
  width: 300px;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}

.container-instrucoes p{
  font-family: "Anton", sans-serif;
  font-size: 15px;
  color: #569ea6;
  text-align: center;
  padding-bottom: 10px;

}

.resposta{
  width: 300px;
  height: 300px;
  background-size: contain;
}
